In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
#load the dataset
df= pd.read_csv('amazon_sales.csv', encoding='utf-8', index_col=0)
df

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/2554513002.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('amazon_sales.csv', encoding='utf-8', index_col=0)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
index,,,,,,,,,,,,,,,,,,,,,
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [81]:
#view the columns

df.columns

Index(['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [82]:
df2=df[['Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Category', 'Size',
       'Courier Status', 'Qty', 'Amount', 'ship-city',
       'ship-state', 'promotion-ids',
       'B2B', 'fulfilled-by']]

In [83]:
df2.head()

,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,promotion-ids,B2B,fulfilled-by
index,,,,,,,,,,,,,,,
0,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Set,S,NaN,0,647.62,MUMBAI,MAHARASHTRA,NaN,False,Easy Ship
1,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Western Dress,L,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,NaN,False,Easy Ship
4,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Top,3XL,Shipped,1,574.00,CHENNAI,TAMIL NADU,NaN,False,NaN

In [84]:
df['Sales Channel '].unique()

array(['Amazon.in', 'Non-Amazon'], dtype=object)

In [85]:
df2.rename(columns={'Sales Channel ':'Sales_channel', 'Courier Status': 'Courier_status'}, inplace=True )

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/3892550057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'Sales Channel ':'Sales_channel', 'Courier Status': 'Courier_status'}, inplace=True )

In [86]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128975 entries, 0 to 128974
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                128975 non-null  object
 1   Status              128975 non-null  object
 2   Fulfilment          128975 non-null  object
 3   Sales_channel       128975 non-null  object
 4   ship-service-level  128975 non-null  object
 5   Category            128975 non-null  object
 6   Size                128975 non-null  object
 7   Courier_status      122103 non-null  object
 8   Qty                 128975 non-null  int64
 9   Amount              121180 non-null  float64
 10  ship-city           128942 non-null  object
 11  ship-state          128942 non-null  object
 12  promotion-ids       79822 non-null   object
 13  B2B                 128975 non-null  bool
 14  fulfilled-by        39277 non-null   object
dtypes: bool(1), float64(1), int64(1), object(12)
memory usage: 14.9+ MB

In [87]:
df2['Promotion'] = np.where(df2['promotion-ids'].isnull(), False, True)

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/337577189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Promotion'] = np.where(df2['promotion-ids'].isnull(), False, True)

In [88]:
df2.columns

Index(['Date', 'Status', 'Fulfilment', 'Sales_channel', 'ship-service-level',
       'Category', 'Size', 'Courier_status', 'Qty', 'Amount', 'ship-city',
       'ship-state', 'promotion-ids', 'B2B', 'fulfilled-by', 'Promotion'],
      dtype='object')

In [89]:
df2.drop(columns=['promotion-ids'], inplace=True)

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/1810875309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['promotion-ids'], inplace=True)

In [90]:
df2

,Date,Status,Fulfilment,Sales_channel,ship-service-level,Category,Size,Courier_status,Qty,Amount,ship-city,ship-state,B2B,fulfilled-by,Promotion
index,,,,,,,,,,,,,,,
0,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Set,S,NaN,0,647.62,MUMBAI,MAHARASHTRA,False,Easy Ship,False
1,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,False,Easy Ship,True
2,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,True,NaN,True
3,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Western Dress,L,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,False,Easy Ship,False
4,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Top,3XL,Shipped,1,574.00,CHENNAI,TAMIL NADU,False,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,05-31-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,517.00,HYDERABAD,TELANGANA,False,NaN,False
128971,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Set,M,Shipped,1,999.00,GURUGRAM,HARYANA,False,NaN,True
128972,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Western Dress,XXL,Shipped,1,690.00,HYDERABAD,TELANGANA,False,NaN,False
128973,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Set,XS,Shipped,1,1199.00,Halol,Gujarat,False,NaN,True
128974,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Set,S,Shipped,1,696.00,Raipur,CHHATTISGARH,False,NaN,True

In [91]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128975 entries, 0 to 128974
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                128975 non-null  object
 1   Status              128975 non-null  object
 2   Fulfilment          128975 non-null  object
 3   Sales_channel       128975 non-null  object
 4   ship-service-level  128975 non-null  object
 5   Category            128975 non-null  object
 6   Size                128975 non-null  object
 7   Courier_status      122103 non-null  object
 8   Qty                 128975 non-null  int64
 9   Amount              121180 non-null  float64
 10  ship-city           128942 non-null  object
 11  ship-state          128942 non-null  object
 12  B2B                 128975 non-null  bool
 13  fulfilled-by        39277 non-null   object
 14  Promotion           128975 non-null  bool
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 14.0+ MB

In [92]:
df2['fulfilled-by'].unique()

array(['Easy Ship', nan], dtype=object)

In [93]:
df2['fulfilled-by'].fillna('Amazon', inplace=True)
df2

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/1061616078.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['fulfilled-by'].fillna('Amazon', inplace=True)
/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/1061616078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fulfilled-by'].fillna('Amazon', inplace=True)

,Date,Status,Fulfilment,Sales_channel,ship-service-level,Category,Size,Courier_status,Qty,Amount,ship-city,ship-state,B2B,fulfilled-by,Promotion
index,,,,,,,,,,,,,,,
0,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Set,S,NaN,0,647.62,MUMBAI,MAHARASHTRA,False,Easy Ship,False
1,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,False,Easy Ship,True
2,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,True,Amazon,True
3,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Western Dress,L,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,False,Easy Ship,False
4,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Top,3XL,Shipped,1,574.00,CHENNAI,TAMIL NADU,False,Amazon,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,05-31-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,517.00,HYDERABAD,TELANGANA,False,Amazon,False
128971,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Set,M,Shipped,1,999.00,GURUGRAM,HARYANA,False,Amazon,True
128972,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Western Dress,XXL,Shipped,1,690.00,HYDERABAD,TELANGANA,False,Amazon,False
128973,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Set,XS,Shipped,1,1199.00,Halol,Gujarat,False,Amazon,True
128974,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Set,S,Shipped,1,696.00,Raipur,CHHATTISGARH,False,Amazon,True

In [94]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128975 entries, 0 to 128974
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                128975 non-null  object
 1   Status              128975 non-null  object
 2   Fulfilment          128975 non-null  object
 3   Sales_channel       128975 non-null  object
 4   ship-service-level  128975 non-null  object
 5   Category            128975 non-null  object
 6   Size                128975 non-null  object
 7   Courier_status      122103 non-null  object
 8   Qty                 128975 non-null  int64
 9   Amount              121180 non-null  float64
 10  ship-city           128942 non-null  object
 11  ship-state          128942 non-null  object
 12  B2B                 128975 non-null  bool
 13  fulfilled-by        128975 non-null  object
 14  Promotion           128975 non-null  bool
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 14.0+ MB

In [95]:
df['Courier Status'].unique()

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [96]:
df2.dropna(inplace=True)

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/1761232742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(inplace=True)

In [97]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116016 entries, 1 to 128974
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                116016 non-null  object
 1   Status              116016 non-null  object
 2   Fulfilment          116016 non-null  object
 3   Sales_channel       116016 non-null  object
 4   ship-service-level  116016 non-null  object
 5   Category            116016 non-null  object
 6   Size                116016 non-null  object
 7   Courier_status      116016 non-null  object
 8   Qty                 116016 non-null  int64
 9   Amount              116016 non-null  float64
 10  ship-city           116016 non-null  object
 11  ship-state          116016 non-null  object
 12  B2B                 116016 non-null  bool
 13  fulfilled-by        116016 non-null  object
 14  Promotion           116016 non-null  bool
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 12.6+ MB

In [98]:
df2.head(10)

,Date,Status,Fulfilment,Sales_channel,ship-service-level,Category,Size,Courier_status,Qty,Amount,ship-city,ship-state,B2B,fulfilled-by,Promotion
index,,,,,,,,,,,,,,,
1,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,406.0,BENGALURU,KARNATAKA,False,Easy Ship,True
2,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,True,Amazon,True
4,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Top,3XL,Shipped,1,574.0,CHENNAI,TAMIL NADU,False,Amazon,False
5,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Set,XL,Shipped,1,824.0,GHAZIABAD,UTTAR PRADESH,False,Amazon,True
6,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Set,L,Shipped,1,653.0,CHANDIGARH,CHANDIGARH,False,Amazon,True
7,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,S,Shipped,1,399.0,HYDERABAD,TELANGANA,False,Easy Ship,True
9,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XXL,Shipped,1,363.0,Chennai,TAMIL NADU,False,Amazon,False
10,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,S,Shipped,1,685.0,CHENNAI,TAMIL NADU,False,Amazon,False
11,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XS,Shipped,1,364.0,NOIDA,UTTAR PRADESH,False,Amazon,False
12,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,XS,Shipped,1,399.0,Amravati.,MAHARASHTRA,False,Easy Ship,True

In [99]:
#split date into 3 columns day, month, year
df2['Date'] = pd.to_datetime(df2['Date'])
df2['Day'] = df2['Date'].dt.day
df2['Month'] = df2['Date'].dt.month
df2['Year'] = df2['Date'].dt.year

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/3346892987.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['Date'] = pd.to_datetime(df2['Date'])
/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/3346892987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Date'] = pd.to_datetime(df2['Date'])
/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/3346892987.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Day'] = df2['Date'].dt.day
/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/3346892987.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Month'] = df2['Date'].dt.month
/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/3346892987.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Year'] = df2['Date'].dt.year

In [100]:
df2

,Date,Status,Fulfilment,Sales_channel,ship-service-level,Category,Size,Courier_status,Qty,Amount,ship-city,ship-state,B2B,fulfilled-by,Promotion,Day,Month,Year
index,,,,,,,,,,,,,,,,,,
1,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,406.0,BENGALURU,KARNATAKA,False,Easy Ship,True,30,4,2022
2,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,True,Amazon,True,30,4,2022
4,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Top,3XL,Shipped,1,574.0,CHENNAI,TAMIL NADU,False,Amazon,False,30,4,2022
5,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Set,XL,Shipped,1,824.0,GHAZIABAD,UTTAR PRADESH,False,Amazon,True,30,4,2022
6,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Set,L,Shipped,1,653.0,CHANDIGARH,CHANDIGARH,False,Amazon,True,30,4,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,517.0,HYDERABAD,TELANGANA,False,Amazon,False,31,5,2022
128971,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,Set,M,Shipped,1,999.0,GURUGRAM,HARYANA,False,Amazon,True,31,5,2022
128972,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,Western Dress,XXL,Shipped,1,690.0,HYDERABAD,TELANGANA,False,Amazon,False,31,5,2022
128973,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,Set,XS,Shipped,1,1199.0,Halol,Gujarat,False,Amazon,True,31,5,2022
128974,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,Set,S,Shipped,1,696.0,Raipur,CHHATTISGARH,False,Amazon,True,31,5,2022

In [101]:
df2['Order_total']= df2['Qty'] * df2['Amount']

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/3754107702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Order_total']= df2['Qty'] * df2['Amount']

In [102]:
df2.drop(columns=['Sales_channel'], inplace=True)

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6254/1594145413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['Sales_channel'], inplace=True)

In [103]:
df2.to_csv('amazon_sales_cleaned.csv', index=False)